html, body {
  background-color: white;
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

p {
  padding: 50px;
  line-height: 35px;
  font-size: 28px;
  color: black;
  text-align: left;
}

#dark-matter {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 8000px;
  height: 6000px;
  z-index: -10;
}

#exp-container {
  overflow: hidden;
  z-index: 1;
}

.btn-center {
    display: table;
    margin: auto;
}

.green {
  color: green;
}

.red {
  color: red;
}
