html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-color: black;
  display: table-cell;
  vertical-align: middle;
}

p {
  margin: 50px;
  line-height: 35px;
  font-size: 28px;
  color: white;
  text-align: left;
}

#exp-container {
  overflow: hidden;
}
